* {
  font-family: 'Space Mono', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: darkseagreen;
}

.header h1{
  text-align: center;
  font-size: 56px;
  position: relative;
  top: 50px;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto; 
  margin-top: 150px;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.timer__block {
  width: 150px;
  margin: 20px;
  background-color: royalblue;
  border-radius: 5px;


  
}

.title {
 
  /* background-color: rgb(18, 126, 15); */
  background-color: yellow;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 150px;
    font-size: 95px;
}


.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
}

.button {
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  width: 180px;
  transition: .3s ease-in-out;
}

.start,
.pause,
.stop {
  color: black;
  background-color: rgb(255, 115, 0);
  cursor: pointer;
}

.start:hover,  
.pause:hover, 
.stop:hover  {
  color:black;
  background-color: rgb(7, 85, 49);
}


@media screen and (min-width: 480px) and (max-width: 670px){
  .container {
    width: 100%;
  }

  .timer__block {
 
     width: 120px;
     margin: 10px;
  }

  .time {
    font-size: 3.5rem;
  }

  .title {
    font-size: 14px;
  }

  .button {
    width: 100px;
  }
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;

  }

  .timer__block {
    height: 100px;
    width: 90px;
    margin: 3px;
    
 }

 .time {
   display: flex;
   align-items: center;
   font-size: 3rem;
    height: 100px;
}

.button {
  width: 100px;
}

.title {
  font-size: 11px;
}
}


@media screen and (min-width: 670px) and (max-width: 870px){
  .container {
    width: 100%;

  }

  .button {
    width: 150px;
  }
}